<header class="header-section header-menu">
  <nav class="navbar navbar-expand-lg p-0">
    <div class="container">
      <nav class="navbar w-100 navbar-expand-lg justify-content-between">
        <div class="d-flex align-items-center">
          <a routerLink="/home" class="navbar-brand">
            <img src="assets/images/landingpage/Healing-Tube-Logo-Square.svg" class="logo" alt="logo" />
          </a>
        </div>

        <div
          class="right-area position-relative justify-content-end gap-3 gap-xxl-6 align-items-center w-25 d-none d-lg-flex"
        >
          <div
            class="single-item d-none d-lg-block messages-area notification-area"
          >
            <div class="notification-btn cmn-head position-relative">
              <div class="icon-area d-center position-relative">
                <fa-icon [icon]="['fas', 'bell']" class="font-20-px" />
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </nav>
</header>
