h5 {
  text-transform: none;
}

::ng-deep {
  mention-list {
    top: 70px !important;
  }

  .edit-comment-emoji {
    .select-emaojies {
      right: 28px !important;
      top: 10px !important;
    }
  }
}
