<div class="row min-vh-100">
  <div class="col-12 col-md-8 col-lg-7 col-xl-6 mx-auto d-flex flex-column justify-content-center">
    <!-- <p class="text-2 mb-5">
      Not a member?
      <a class="fw-500" (click)="goToRegestration()">Register</a>
    </p> -->
    <h3 class="mb-4">Change your password</h3>
    <!-- <div class="d-flex">
      <button
        type="button"
        class="btn btn-primary btn-sm fw-400 rounded-3 shadow-none goggle-login"
      >
        <span class="me-2"><i class="fab fa-google"></i></span
        ><span class="mx-3 text-2">Log in with Google</span>
      </button>
      <ul
        class="social-icons d-inline-block social-icons-rounded p-1 ms-2 mb-0"
      >
        <li class="social-icons-apple mb-0">
          <a
            class="bg-dark-4"
            data-bs-toggle="tooltip"
            data-bs-original-title="Sign in with apple"
            ><i class="fab fa-apple"></i
          ></a>
        </li>
      </ul>
    </div>
    <div class="d-flex align-items-center my-4">
      <hr class="col-1 bg-dark-4" />
      <span class="mx-3 text-2 text-muted">OR</span>
      <hr class="flex-grow-1 bg-dark-4" />
    </div> -->
    <form
      class="form-dark d-flex flex-column"
      #changePassword="ngForm"
      novalidate
    >
      <div class="alert alert-{{ type }}" role="alert" *ngIf="msg">
        {{ msg }}
      </div>
      <div class="mb-3">
        <label class="form-label">New Password</label>
        <div class="d-flex custom-input-area position-relative">
          <input
            class="input-area"
            #newPassword="ngModel"
            name="newPassword"
            ngModel
            id="newPassword"
            placeholder="Enter New Password"
            required
            (ngModelChange)="mustMatch()"
            (focusout)="validatepassword()"
            #passwordInput
          />
          <fa-icon [icon]="passwordHidden ? ['fas', 'eye'] : ['fas', 'eye-slash']" class="font-20-px position-absolute" (click)="togglePasswordVisibility(passwordInput)"></fa-icon>
        </div>
      </div>
      <div class="invalid-feedback d-block" *ngIf="submitted && newPassword.errors && newPassword.errors['required']">
        Password is required.
      </div>
      <div class="invalid-feedback d-block" *ngIf="submitted && newPassword.errors && newPassword.errors['pattern']">
        Password must be a minimum of 5 characters.
      </div>
      <!-- <div
        class="invalid-feedback d-block"
        *ngIf="
          submitted &&
          newPassword.errors &&
          newPassword.errors['required']
        "
      >
      Password must include a lower case and capital case letter, a symbol and a number and be at least 8 characters long.
      </div> -->
      <div class="mb-3">
        <div class="d-flex justify-content-between">
          <label class="form-label"
            >Confirm Password</label
          >
        </div>
        <input
          type="password"
          class="input-area"
          id="confirmPassword"
          name="confirmPassword"
          ngModel
          #confirmPassword="ngModel"
          placeholder="Enter Confirm Password"
          (ngModelChange)="mustMatch()"
          required
        />
        <div
          class="invalid-feedback d-block"
          *ngIf="
            submitted &&
            confirmPassword.errors &&
            confirmPassword.errors['mustmatch']
          "
        >
          Confirm password not match with new password
        </div>
        <div
          class="invalid-feedback d-block"
          *ngIf="
            submitted &&
            confirmPassword.errors &&
            confirmPassword.errors['required']
          "
        >
          Confirm password is required
        </div>
      </div>

      <button class="btn btn-primary my-2 ms-auto"
        (click)="forgotPasswordSubmit(changePassword)"
      >
        Change Password
      </button>
    </form>
  </div>
</div>
