.main-container {
  height: 100vh;
  width: 100vw;
  // background: #11134d;

  .text-s {
    font-size: min(max(25px, 4vw), 42px);
  }
  .c-fonts {
    font-size: min(max(16px, 4vw), 19px);
    color: #fff;
    text-align: center;
    line-height: 26px;
    margin-top: 15px;
  }

  .custom-height {
    background-image: url(/assets/images/landingpage/solar-hm-pg.jpg);
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
    height: calc(100vh - 48px);

    @media (max-width:991px) {
      background-size: cover;
      background-position: 20%;
    }

    .banner-text {
      max-width: 600px;
      width: 100%;
      background-color: rgb(0 0 0 / 83%);
      border-radius: 5px;
      padding: 40px;
      // height: 300px;
      @media (max-width: 991px) {
        position: absolute;
        bottom: 10px; 
        padding: 30px;
      }
      @media (max-width:600px) {
        max-width: calc(100% - 30px);
      }
    }

    // @media (max-width: 600px) {
    //   min-height: 300px;
    // }  
  }
  .sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;

    .head-text {
      font-size: min(max(25px, 2vw), 36px) !important;
      @media (max-width: 684px) {
        line-height: 24px;
      }
    }

    .sub-text {
      color: #11134d !important;
      font-size: min(max(14px, 2vw), 24px);
    }
    .c-width {
      max-width: 722px;
      // padding: 0 20px;
      @media (max-width: 684px) {
        line-height: 24px;
        padding: 0;
      }
    }
  }
  .c-footer {
    max-height: 530px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .footer-txt {
      color: #fff;
      font-size: min(max(15px, 2vw), 20px) !important;
      text-align: center;
      padding: 0 10px;
      @media (max-width: 600px) {
        line-height: 19px;
      }
    }
  }
}
// .bg-color {
//   background: #11134d;
// }
.auth-btns {
  @media (max-width: 560px) {
    // justify-content: center;
  }
}
.answers_main {
  padding: 30px 0;
  // padding: 30px 200px;
}

@media (min-width: 768px) and ((max-width: 1440px)) {
  .answers_main {
    padding: 50px 20px 120px;
  }
}

@media (max-width: 767px) {
  .answers_main {
    padding: 50px 20px 120px;
  }
}

.answers_main h1 {
  font-weight: 400;
  font-size: 50px;
  line-height: 80px;
  text-align: center;
  letter-spacing: -0.015em;
}

@media (max-width: 767px) {
  .answers_main h1 {
    font-size: 24px;
    line-height: 30px;
  }
}

.answers_main .answers_token {
  display: grid;
  grid-template-columns: 1fr;
  margin: 40px 0;
  grid-gap: 40px;
  gap: 40px;
  place-items: center;
}

.answers_main .answers_token img {
  border-radius: 8px;
}

@media only screen and (min-width: 576px) {
  .answers_main .answers_token {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 992px) {
  .answers_main .answers_token {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 1200px) {
  .answers_main .answers_token {
    gap: 70px;
  }
}

.answers_main .Answers_online__lw6jA {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

@media (max-width: 992px) {
  .answers_main .Answers_online__lw6jA {
    flex-direction: column;
    grid-gap: 24px;
  }
}

.answers_main .Answers_online__lw6jA .Answers_onlineMain__jeDay {
  max-width: 575px;
  width: 100%;
}

.answers_main .Answers_online__lw6jA .Answers_rightAnswer___Ek_r {
  max-width: 690px;
  width: 100%;
  background: #fff;
  box-shadow: 0 4px 4px 7px rgba(23, 25, 84, 0.05);
  padding: 50px;
}

@media (max-width: 992px) {
  .answers_main .Answers_online__lw6jA .Answers_rightAnswer___Ek_r {
    box-shadow: unset;
    height: auto;
    padding: 0;
    margin-top: 10px;
  }
}

.answers_main
  .Answers_online__lw6jA
  .Answers_rightAnswer___Ek_r
  .Answers_internet__ywf41 {
  display: flex;
  align-items: flex-start;
  grid-gap: 10px;
}

.answers_main
  .Answers_online__lw6jA
  .Answers_rightAnswer___Ek_r
  .Answers_internet__ywf41
  p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.015em;
  color: #6f7275;
  margin-bottom: 16px;
}

.answers_main
  .Answers_online__lw6jA
  .Answers_rightAnswer___Ek_r
  .Answers_internet__ywf41
  img {
  width: 33px;
  height: 23px;
  margin-top: 6px;
}

.answers_main
  .Answers_online__lw6jA
  .Answers_rightAnswer___Ek_r
  .Answers_internet__ywf41:last-child {
  margin-bottom: 0;
}

.landing-btn {
  .btn-primary {
    background: #11134d;
    color: #fff;
    border: #11134d;
    height: 38px;
  }
  .btn-outline {
    border-color: #11134d;
    color: #11134d;
    height: 38px;
  }
}

.main-area {
  cursor: pointer;
  position: fixed;
  width: 300px;
  top: 0;
  background: white;
  right: 0;
  height: 100vh;
  z-index: 999;

  @media (min-width: 768px) {
    display: none;
  }
  @media (max-width: 768px) {
    display: block;
  }
  .c-btn {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 26px;
    width: 26px;
    border: 2px solid var(--bs-border-color);
    border-radius: 50%;
    padding: 4px;

    svg path {
      fill: #fff;
    }
  }
  ul {
    a {
      display: flex;
      align-items: center;
      gap: 8px;
      margin: 16px 0;
      color: var(--heading-1st-color);
    }

    li {
      &:last-child {
        border-top: 1px solid var(--bs-border-color);
        border-bottom: 1px solid var(--bs-border-color);
      }

      // &:first-child {
      // border-bottom: 1px solid var(--bs-border-color);
      // }
    }
  }
}
::ng-deep.c-button-landing {
  svg path {
    fill: #000428;
  }
}
