:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.custom-input-area {
  fa-icon{
    top: 11px;
    right: 20px;
    background-color: var(--box-1st-color);
    border-radius: 50%;
    height: 36px;
    width: 36px;
    text-align: -webkit-center;
    align-content: center;
  }
}
.captcha-btn{
  display: flex;

@media(max-width: 410px) {
  flex-direction: column;
 
}
}
