.footer-menu {
  background-color: var(--section-1st-color);
  box-shadow: var(--box-shadow);
  z-index: 999;

  .single-item {
    .icon-area {
      width: 42px;
      height: 42px;
      background: var(--box-1st-color);
      border-radius: 12px;
      cursor: pointer;

      .abs-area {
        right: initial;
        top: -4px;
        left: 40px;
        width: 15px;
        height: 15px;
        background: var(--highlight-color);
        border-radius: 50%;
        color: var(--bs-white);
      }

      i {
        color: var(--para-3rd-color);
      }
    }
  }
}
